<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= username %>'s Contribution Graph</h1>
      <pre><%= graph %></pre>
      <h2>Repository Image</h2>
      <img src="<%= repoImage %>" alt="<%= repoName %> Image">
      <form style="text-align: center;" action="/" method="get">
        <button style="font-size: 20px;" type="submit">Back</button>
      </form>
</body>
</html>