<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contribution Graph</title>
</head>
<body >
    <div style="text-align: center;">
        <h1>GitHub contribution graph of a user</h1>
    <form action="/" method="post">
        <h3><label for="username">Enter GitHub Username</label>
        <input name="username" type="text"></h3>
    <h3><label for="repoName">Enter Repository Name</label>
        <input name="repoName" type="text"></h3>
    <h3><label for="accessToken">Enter your personal access token</label>
        <input name="accessToken" type="text"></h3>
        <button type="submit">Submit</button>
    </form>
    </div>   
</body>
</html>